body
{
    color:#000000;
    background-image:url('newimages/silver1.jpg');
}






h1,h2,h3,h4,h5,h6
{
    color:#000000;
}

a:link
{
    color:#12569a;
}

a:visited
{
    color:#12569a;
}

a:hover,a:active
{
    color:#ff4800;
}




#notifications
{
    background-image:url('newimages/silver2.jpg');;
}


/*-- divs used to create infobar layout --*/

.bordered
{
    border-left:1px solid #aaaaaa;
    border-bottom:1px solid #dddddd;
    border-right:1px solid #dddddd;
    border-top:1px solid #aaaaaa;
}

/*-- divs and classes used in the albums list --*/

.album1
{
    background-image:url('newimages/silver2.jpg');
}

.album2
{
    background-image:url('newimages/silver1.jpg');
}

a.album:visited
{
    color:#12569a;
}

a.album:hover,a.album:active
{
    color:#ff4800;
}

#filemenu
{
    border-left:1px solid #000000;
}

div.clickable:hover
{
    color:#ff4800;
}

div.clickable.selected:hover
{
    color:#dddddd;
}

/*-- divs and classes used in the playlist --*/

.playlistcurrentitem
{
    color:#cc0000;
}

.playlistcurrenttitle
{
    color:#cc0000;
}

.item
{
    border-top:1px solid #000000;
}

/*-- For Wikipedia and Last.FM pages --*/

.stleft
{
    border-right:1px solid #aaaaaa;
}

#wikipopup
{
    background-color:#000000;
}

#imagecontainer
{
    background-color:#ffffff;
}

.infosection
{
    background-color:#efefef;
    /*border-bottom:1px solid #000000;*/
}

.albumsection
{
    background-color:#e7e7e7;
}

.translucent
{
    opacity:0.7;
}

.infowiki
{
    background-color:#ffffff;
}

.infoslideshow
{
    background-color:#333333;
}

/*-- For Album Cover Art --*/

.crackbaby
{
    background-color:#eeeeee;
}

#albumcovers
{
    background-color:#eeeeee;
}

.popupwindow
{
    background-color:#878787;
    border-left:2px solid #555555;
    border-bottom:2px solid #555555;
    border-right:2px solid #555555;
    border-top:2px solid #555555;
}

.underlined
{
    border-bottom:1px solid #000000;
}

/*-- Styles for drop-down menus --*/

ul.topnav li a
{
    color:#12569a;
}

ul.subnav li a
{
    color:#ffffff;
}

ul.topnav li a:hover
{
    color:#ff4800;
}

ul.subnav
{
    border-left:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
    border-right:1px solid #ffffff;
    border-top:none;
}

ul.topnav li ul.subnav
{
    background-color:#000000;
    color:#ffffff;
}

ul.topnav li ul.subnav input.topform
{
    background:000000;
    color:#ffffff;
    border:1px solid #999999;
 }

ul.topnav li ul.subnav input.topcheck
{
    background-color:000000;
    color:#ffffff;
}

.separator
{
     border-bottom:12px solid #888888;
}

input.sourceform
{
    border:1px solid #999999;
}

input.topformbutton
{
    color:#000000;
}

/*-- Styles to make the Wikipedia nav boxes look prettier --*/

.navbox-title
{
    color:#000000;
}

.navbox-group
{
    color:#000000;
}

.navbox-abovebelow
{
    color:#000000;
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    color:#990000;
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    color:#990000;
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    color:#ff4800;
    text-decoration:none;
}

