body
{
    color:#000000;
    background-color:#181818;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    color:#dddddd;
}

h1,h2,h3,h4,h5,h6
{
    color:#eeeeee;
}

a:link
{
    color:#dcdcff;
}

a:visited
{
    color:#dcdcff;
}

a:hover,a:active
{
    color:#ff4800;
}

#headerbar
{
    background-color:#181818;
}

/*-- divs used to create infobar layout --*/

.bordered
{
    border-left:1px solid #000000;
    border-bottom:1px solid #343434;
    border-right:1px solid #343434;
    border-top:1px solid #000000;
}

#notifications
{
    background-color:#000000;
}
/*-- divs and classes used in the albums list --*/

.album1
{
    background-color:#252525;
}

.album2
{
    background-color:#181818;
}

a.album:visited
{
    color:#dcdcff;
}

a.album:hover,a.album:active
{
    color:#ff4800;
}

#filemenu
{
    border-left:1px solid #444444;
}

div.clickable:hover
{
    color:#ff4800;
}

div.clickable.selected:hover
{
    color:#dddddd;
}

/*-- divs and classes used in the playlist --*/

.playlistcurrentitem
{
    color:#cc0000;
}

.playlistcurrenttitle
{
    color:#cc0000;
}

.item
{
    border-top:1px solid #cccccc;
}

.inbrowser
{
    color:#000000;
}

/*-- For Wikipedia and Last.FM pages --*/

.stleft
{
    border-right:1px solid #aaaaaa;
}

#wikipopup
{
    background-color:#000000;
}

#imagecontainer
{
    background-color:#ffffff;
}

.infosection
{
    /*background-color:#000000;*/
    border-top:1px solid #000000;
}

.albumsection
{
    background-color:#000000;
}

.translucent
{
    opacity:0.7;
}

.infowiki
{
    background-color:#181818;
}

.infoslideshow
{
    background-color:#000000;
}

/*-- For Album Cover Art --*/

.crackbaby
{
    background-color:#444444;
}

#albumcovers
{
    background-color:#444444;
}

.popupwindow
{
    background-color:#111111;
    border-left:2px solid #888888;
    border-bottom:2px solid #888888;
    border-right:2px solid #888888;
    border-top:2px solid #888888;
}

.underlined
{
    border-bottom:1px solid #000000;
}

/*-- Styles for drop-down menus --*/

ul.topnav li a
{
    color:#12569a;
}

ul.subnav li a
{
    color:#ffffff;
}

ul.topnav li a:hover
{
    color:#ff4800;
}

ul.subnav
{
    border-left:1px solid #555555;
    border-bottom:1px solid #555555;
    border-right:1px solid #555555;
    border-top:none;
}

ul.topnav li ul.subnav
{
    background-color:#000000;
    color:#ffffff;
}

ul.topnav li ul.subnav input.topform
{
    background:#000000;
    color:#ffffff;
    border:1px solid #999999;
}

ul.topnav li ul.subnav input.topcheck
{
    background-color:#000000;
    color:#ffffff;
}

.separator
{
     border-bottom:12px solid #888888;
}

input.sourceform
{
    border:1px solid #999999;
    color:#181818;
}

input.topformbutton
{
    color:#000000;
}

/*-- Styles to make the Wikipedia nav boxes look prettier --*/

th.navbox-title
{
    background-color:#343434;
}

.navbox-abovebelow
{
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th
{
    font-weight:bold;
}

th.tlheader
{
    background-color:#232323;
}

.description
{
    margin-top:4px;
}

.underline
{
    border-bottom: 1px solid #999999;
}

.infosection h2
{
    border-bottom:2px solid #eeeeee;
}
