html{ height:100%; }

body
{
    font-size:8pt;
    margin:0px;
    height:100%;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    font-family:verdana,helvetica,arial,sans-serif;
}

h1
{
    font-size:250%;
    margin-top:20%;
    margin-left:20%;
    margin-right:20%;
    font-weight:normal;
}

h2
{
    font-size:170%;
    font-weight:bold;
    margin-top:0px;
    margin-bottom:0px;
}

h3
{
    padding-bottom:0px;
    margin-bottom:8px;
}

h1,h2,h3,h4,h5,h6
{
    background-color:transparent;
    white-space:normal;
}

a
{
    text-decoration:none;
}

/*-- Divs used to create page layout in index.php --*/

#infobar
{
    width:100%;
    height:100px;
    padding-top:4px;
    padding-bottom:4px;
    margin:0px;
    overflow-y:hidden;
    overflow-x:none;
}

#headerbar
{
    padding:0px;
    margin:0px;
    width:100%;
    height:40px;
}

#bottompage
{
    position:absolute;
    top:148px;
    width:100%;
    height:80%;
}

#sources
{
    height:100%;
    overflow:auto;
}

.topimg
{
    padding-right:8px;
}

#infopane
{
    height:100%;
    overflow:auto;
}

#playlist
{
    height:100%;
    overflow:auto;
}

#sortable
{
    margin:0px;
    padding:0px;
}

/*-- divs used to create infobar layout --*/

.infobarlayout
{
    margin-left:8px;
    margin-right:8px;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:2px;
    padding-left:0px;
    padding-right:0px;
    height:90px;
}

#buttons
{
    padding-left:24px;
    padding-right:8px;
    padding-top:4px;
    padding-bottom:4px;
}

.controlbutton
{
    margin:0px;
    padding:0px;
}

.shiftleft
{
    position:relative;
    left:-8px;
}

.shiftleft2
{
    position:relative;
    left:-16px;
}

.shiftleft3
{
    position:relative;
    left:-18px;
}

.shiftleft4
{
    position:relative;
    left:-20px;
}

#progress
{
    margin-left:8px;
    margin-right:8px;
    cursor:pointer;
    font-size:6pt;
}

#playbackTime
{
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    font-weight:bold;
    padding-bottom:4px;
}

#albumcover
{
    float:left;
    padding-left:4px;
    padding-right:8px;
    padding-top:4px;
    padding-bottom:4px;
    margin:0px;
}

#albumpicture
{
    height:82px;
}

#nowplaying
{
    float:left;
    padding-top:6px;
    padding-bottom:4px;
    padding-left:8px;
    padding-right:8px;
}

.larger
{
    font-size:140%;
    margin-bottom:4px;
}

#lastfm
{
    float:left;
    margin-top:20px;
    display:none;
}

#volumecontrol
{
    width:24px;
    margin-left:0px;
    margin-right:0px;
}

#volume
{
    margin-left:8px;
    margin-top:4px;
}

#notifications
{
    position:absolute;
    width:300px;
    padding:8px;
    opacity:0.7;
    top:0px;
    display:none;
}

/*-- Classes used to control flow and layout --*/

.tright
{
    float:right;
}

.tleft
{
    float:left;
}

.column
{
    width:22%;
}

.cmiddle
{
    width:56%;
}

.noborder
{
    margin:0px;
    padding:0px;
}

.textcentre
{
    text-align:center;
}

.newtag
{
    display:none;
}

/*-- divs and classes used in the albums list --*/

.topbox
{
    padding-top:4px;
}

.leftbox
{
    padding-left:8px;
}

.containerbox
{
    display:-webkit-box;
    display:-moz-box;
    display:-o-box;
    display:box;
    display:flexbox;
    display:flex-box;
}    

.vertical
{
    -moz-box-orient:vertical;
    -webkit-box-orient:vertical;
    box-orient:vertical;
}

.center {
    box-pack:center;
    -moz-box-pack:center;
    -webkit-box-pack:center;
}

.menuitem
{
    font-weight:bold;
    margin:0px;
    padding-left:8px;
    padding-right:0px;
    padding-top:2px;
    padding-bottom:2px;
    box-align:center;
    -moz-box-align:center;
    -webkit-box-align:center;
}

.menu
{
    width:18px;
    vertical-align:middle;
    cursor:pointer;
}
 
.expand
{
    -moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0; /* Safari and Chrome */
    box-flex:1.0;
    width:2000px; /* Firefox will ONLY shrink elements in a box layout, not expand them */
}

.fixed
{
    -moz-box-flex:0; /* Firefox */
    -webkit-box-flex:0; /* Safari and Chrome */
    box-flex:0;
}

.dropmenu
{
    display:none;
    margin:0px;
    padding-left:8px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:2px;
}

.fullwidth
{
    width:100%;
    padding:0px;
    margin:0px;
}

.smallcover
{
    width:32px;
    height:32px;
    vertical-align:middle;
    margin-right:8px;
}

.tracknumber
{
    height:1.3em;
    width:2em;
    font-weight:bold;
}

.ninesix
{
    font-size:96%;
    padding-top:2px;
}

.noselection
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}
    
.tracknumbr
{
    width:2em;
}

.discnumber
{
    font-weight:bold;
    font-size:110%;
    padding-top:2px;
    padding-bottom:2px;
    display:block;
}

.padright
{
    padding-right:4px;
}

#patrickmoore
{
    height:90px;
    overflow:hidden;
}

.whatdoicallthis
{
    padding-left:0px;
    padding-top:2px;
    padding-bottom:4px;
    font-size:96%;
    font-weight:normal;
}

.bum
{
    font-style:italic;
}

.wibble
{
    padding-bottom:6px;
}

.dirname
{
    padding-bottom:0px;
    padding-left:12px;
    font-weight:bold;
}

.indent
{
    margin-left:16px;
}

.selected
{
    background-color:#CC5500;
}

.bold
{
    font-weight:bold;
}

.clickable
{
    cursor:default;
}

.line
{
    padding-bottom:2px;
    box-align:center;
    -moz-box-align:center;
    -webkit-box-align:center;
}

/*-- divs and classes used in the playlist --*/

.playlistitem
{
    padding-left:8px;
    padding-right:4px;
    padding-top:0px;
    padding-bottom:2px;
    font-weight:bold;
    font-size:90%;
    cursor:pointer;
}

.playlisttitle
{
    padding-right:4px;
    padding-top:8px;
    padding-bottom:8px;
    font-size:110%;
    cursor:pointer;
}

.playlistcurrenttitle
{
    font-size:120%;
    padding-top:8px;
    padding-bottom:8px;
    padding-right:4px;
    cursor:pointer;
}

.playlistcurrentitem
{
    padding-left:8px;
    padding-right:4px;
    padding-top:0px;
    padding-bottom:2px;
    font-weight:bold;
    font-size:100%;
    cursor:pointer;
}

.playlistrow2
{
    font-size:90%;
    font-style:italic;
    font-weight:normal;
}

.playlisticon
{
    padding-right:0px;
    padding-left:0px;
    padding-top:0px;
    padding-bottom:0px;
    width:20px;
    vertical-align:middle;
}

.togglebutton
{
    padding:0px;
    height:16px;
    width:33px;
    vertical-align:middle;
}

.clickicon
{
    cursor:pointer;
}

.amid
{
    vertical-align:middle;
}

.noclick
{
    cursor:default;
}

/*-- For Wikipedia and Last.FM pages --*/

.infotext
{
    margin:8px;
}

#similarartists
{
    width:100%;
}

#smlrtst
{
    margin-left:auto;
    margin-right:auto;
    float:none;
    display:block;
    width:auto;
}

.simar
{
    padding-left:4px;
    padding-right:4px;
    padding-top:4px;
    padding-bottom:4px;
    display:inline-block;
}

.standout
{
    margin-bottom:12px;
    margin-top:12px;
}

.foldup
{
    width:100%;
}

.stleft
{
    float:left;
    width:auto;
    max-width:50%;    
}

.frog
{
    opacity:0.4;
    font-weight:bold;
}

.stright
{
    float:right;
    margin-left:12px;
    margin-right:0px;
    padding-right:0px;
    padding-top:8px;
}

.standout ul
{
    list-style:none;
    margin:2px;
    padding:0px;
}

.standout ul li
{
    line-height:1.5em;
}

.holdingcell
{
    display:inline-block;
    width:100%
}

.wotsit
{
    display:inline-block;
}

.statsbox
{
    margin-left:0px;
    margin-right:12px;
    padding:4px;
}

.tiny
{
    font-size:80%;
    margin-right:6px;
}

.mw-headline
{
    padding-top:8px;
    padding-bottom:8px;
    padding-left:12px;
    padding-right:12px;
    margin-bottom:8px;
}

#wikipopup
{
    position:absolute;
    display:none;
    z-index:1001;
    opacity:0.7;
    border-radius: 10px 10px 10px 10px;
}

#dragger
{
    position:absolute;
    width:300px;
}

.dragsort
{
    padding:4px;
}

.draggable {
    cursor:default;
}

#imagecontainer
{
    position:absolute;
    top:24px;
    left:24px;
    display:none;
    opacity:1;
    z-index:1002;
    overflow:hidden;
}

.infobox
{
    float:right;
    margin-right:0px;
    margin-bottom:12px;
    margin-left:12px;
    margin-top:12px;
}

.thumb
{
    margin-right:12px;
    margin-bottom:12px;
    margin-left:12px;
    margin-top:12px;
}

.infosection
{
    padding-top:4px;
    padding-bottom:4px;
    padding-left:12px;
    padding-right:12px;
}

.albumsection
{
    padding-top:4px;
    padding-bottom:4px;
    display:table;
    width:100%;
    margin-top:8px;
}

.lrspace
{
    margin-left:12px;
    margin-right:12px;
    margin-top:8px;
}

.covercontainer
{
    margin:8px;
}

/*-- For Album Cover Art and sundry popups --*/

#wobblebottom
{
    width:960px;
    margin-right:auto;
    margin-left:auto;
    height:80%;
    overflow-y:scroll;
}

#albumcovers
{
    width:960px;
    margin-right:auto;
    margin-left:auto;
}

.popupwindow
{
    position:absolute;
    display:none;
    z-index:1001;
    border-radius: 3px 3px 3px 3px;
    overflow:hidden;
}

#popupcontents
{
    height:100%;
    padding:0px;
    margin:0px;
    overflow:auto;
}

.invisible
{
    display:none;
}

.controlholder
{
    height:62px;
    padding:0px;
    margin:0px;
}

#googleinput
{
    padding-left:16px;
    padding-right:16px;
}

#searchcontent
{
    padding-left:16px;
    padding-right:16px;
}

.gimage
{
    float:left;
    padding:8px;
}

.holdingcell li input
{
    width:90%;
}

.holdingcell li button
{
    margin-right:6px;
}

.underlined
{
    margin-bottom:8px;
}

#branding
{
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
}

.albumimg
{
    margin:8px;
    box-align:center;
    -moz-box-align:center;
    -webkit-box-align:center;
}

#status
{
    font-weight:bold;
    white-space:nowrap;
    overflow:hidden;
}

.outer
{
    width:200px;
}

.inner
{
    width:560px;
}

/*-- Styles for drop-down menus --*/

ul.topnav
{
    list-style:none;
    margin:0;
    padding:0;
    padding-left:6px;
    float:left;
}

ul.topnav li
{
    float:left;
    position:relative;
    width:40px;
    z-index:1000;
}

ul.topnav li a
{
    display:block;
    text-decoration:none;
    font-size:120%;
    float:left;
    font-weight:bold;
    /*-- padding-top:4px; --*/
}

ul.subnav
{
    border-radius: 0px 0px 0px 0px;
    max-height:500px;
    overflow-y:auto;
    overflow-x:hidden;
}

ul.subnav li
{
    width:140px;
}

ul.topnav li ul.subnav
{
    list-style:none;
    position:absolute;
    top:30px;
    left:-124px;
    margin:0;
    padding:6px;
    display:none;
    float:left;
    font-size:110%;
    font-weight:normal;
    width:auto;
}

ul.subnav li a
{
    font-weight:normal;
    font-size:100%;
}

ul.topnav li ul.subnav li
{
    margin:0;
    padding:4px;
    clear:both;
}

ul.subnav li.wide
{
    width:260px;
}

#countryselector
{
    width:220px;
}

ul.topnav li ul.wide
{
    left:-250px;
}

ul.topnav li ul.widel
{
    left:-20px;
}

ul.subnav li.wider
{
    width:380px;
}

ul.topnav li ul.widel li
{
    text-align:left;
}

ul.topnav li ul.subnav input.topform
{
    font-size:90%;
    width:180px;
}

ul.topnav li ul.subnav input.topcheck
{
    font-size:90%;
}

ul.topnav li ul.subnav li ul
{
    list-style:none;
}

.separator
{
     margin-top:8px;
     margin-bottom:8px;
     width:100%;
}

.middle
{
    vertical-align:text-top;
}

ul.sourcenav
{
    list-style:none;
    margin:0;
    padding:0;
    padding-left:6px;
    float:left;
}

ul.sourcenav li
{
    margin-top:4px;
}

input.sourceform
{
    font-size:90%;
    border-radius: 2px 2px 2px 2px;
    width:70%;
    margin-bottom:4px;
}

button.sourceform
{
    font-size:90%;
    border-radius: 2px 2px 2px 2px;
    width:20%;
    margin-bottom:4px;
}

.topformbutton
{
    font-size:90%;
}    

ul.buyalbum li
{
    font-size:90%;
}

.waiting
{
    padding:4px;
}

#scrobwrangler
{
    width:220px;
    cursor: pointer;
    font-size:6pt;
}

/*-- Key bindings editor --*/

#searchbox
{
    padding-bottom:12px;
}

.filetable
{
    padding:0px;
    width:100%;
    border:0;
    vertical-align:middle;
    border-spacing:0;
    border-collapse:collapse;
}

/*-- Styles to make the Wikipedia nav boxes look prettier --*/

.navbox-title
{
    padding-bottom:4px;
}

.navbar ul li
{
    list-style:none;
    float:left;
    padding-left:1em;
}

.navbox-abovebelow ul li
{
    list-style:none;
    float:left;
    padding-left:1em;
}

.navbox-list
{
    padding-bottom:4px;
}

.navbox-list div ul li
{
    list-style:none;
    float:left;
    padding-left:2em;
}

#cheese
{
    padding-right:12px;
    display:inline-block;
    width:100%;
}

.metadata
{
    display:table;
    margin:8px;
    width:360px;
}

.rightpad
{
    padding-right:16px;
    margin-right:16px;
}

.rating
{
    width:116px;
    height:22px;
    position:relative;
    top:0px;
    left:0px;
    overflow:hidden;
}

.ratebar
{
    width:116px;
    height:22px;
    position:absolute;
    top:0px;
    left:-100px;
    background-color:#ff4800;
    z-index:99;
}

.stars
{
    z-index:100;
    position:absolute;
    top:0px;
    left:0px;
}

.arsecheese
{
    border-spacing:0px;
    border-width:0px;
}

.winkle
{
    color:#000000;
}

.dingleberry
{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:90%;
    display:block;
}

#artistbio ul
{
    list-style-type:none;
}

.mw-editsection {
    display:none;
}

/*-- For IceCast Scraper --*/

#content
{
    padding-left:8px;
}

td.tune-in
{
    vertical-align:middle;
    padding:8px;
}

span.name
{
    font-size:130%;
    font-weight:bold;
}

span.listeners
{
    font-size:90%;
}

table.servers-list
{
    width:100%;
    list-style-type:none;
    border-collapse:collapse;
}

table.servers-list tr
{
    border-bottom:1px solid #ffffff;
    margin-bottom:0.3em;
}

table.servers-list tr td
{
    padding-bottom:0.8em;
}

table.servers-list div.stream-tags ul
{
    display: inline;
}

table.servers-list div.stream-tags ul li
{
    display: inline;
}

.inline-tags 
{
    list-style-type: none;
    padding-left: 4px;
    margin: 0;
}

.stream-onair
{
    font-size:90%;
}

.stream-tags
{
    font-size:90%;
}

ul.pager
{
    list-style-type:none;
    padding-bottom:1em;
}

ul.pager li
{
    display: inline;
}

ul.pager li a.active
{
    font-weight:bold;
}

.stream-description
{
    font-style:italic;
}

a.previewbutton {
    display:none;
}

/*-- Sundries --*/

.notbold
{
    font-weight:normal;
}

.bar {
    width: 100%;
    height: 48px;
    position:relative;
}

.bar div.label {
    width:100%;
    height:48px;
    position:absolute;
    top:0px;
    left:0px;
    z-index:102;
    padding-top:8px;
     -webkit-animation: pulseit 4s ease infinite;
     -moz-animation: pulseit 4s ease infinite;
     animation: pulseit 4s ease infinite;
}

.bar div.expand {
     background-color: #ff6600;
     height: 48px;
     opacity:0.05;
     -webkit-animation: fadeit 1.65s ease infinite;
     -moz-animation: fadeit 1.65s ease infinite;
     animation: fadeit 1.65s ease infinite;
}

.bar div.expand:nth-child(1){
     -webkit-animation-delay:0.1s;
     -moz-animation-delay:0.1s;
     animation-delay:0.1s;
} 

.bar div.expand:nth-child(2){
     -webkit-animation-delay:0.2s;
     -moz-animation-delay:0.2s;
     animation-delay:0.2s;
} 

.bar div.expand:nth-child(3){
     -webkit-animation-delay:0.3s;
     -moz-animation-delay:0.3s;
     animation-delay:0.3s;
} 

.bar div.expand:nth-child(4){
     -webkit-animation-delay:0.4s;
     -moz-animation-delay:0.4s;
     animation-delay:0.4s;
} 

.bar div.expand:nth-child(5){
     -webkit-animation-delay:0.5s;
     -moz-animation-delay:0.5s;
     animation-delay:0.5s;
} 

.bar div.expand:nth-child(6){
     -webkit-animation-delay:0.6s;
     -moz-animation-delay:0.6s;
     animation-delay:0.6s;
} 

.bar div.expand:nth-child(7){
     -webkit-animation-delay:0.7s;
     -moz-animation-delay:0.7s;
     animation-delay:0.7s;
} 

.bar div.expand:nth-child(8){
     -webkit-animation-delay:0.8s;
     -moz-animation-delay:0.8s;
     animation-delay:0.8s;
} 

.bar div.expand:nth-child(9){
     -webkit-animation-delay:0.9s;
     -moz-animation-delay:0.9s;
     animation-delay:0.9s;
} 

.bar div.expand:nth-child(10){
     -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
     animation-delay:1s;
} 

.bar div.expand:nth-child(11){
     -webkit-animation-delay:1.1s;
     -moz-animation-delay:1.1s;
     animation-delay:1.1s;
} 

.bar div.expand:nth-child(12){
     -webkit-animation-delay:1.2s;
     -moz-animation-delay:1.2s;
     animation-delay:1.2s;
} 

.bar div.expand:nth-child(13){
     -webkit-animation-delay:1.3s;
     -moz-animation-delay:1.3s;
     animation-delay:1.3s;
} 

.bar div.expand:nth-child(14){
     -webkit-animation-delay:1.4s;
     -moz-animation-delay:1.4s;
     animation-delay:1.4s;
} 

.bar div.expand:nth-child(15){
     -webkit-animation-delay:1.5s;
     -moz-animation-delay:1.5s;
     animation-delay:1.5s;
} 

.bar div.expand:nth-child(16){
     -webkit-animation-delay:1.6s;
     -moz-animation-delay:1.6s;
     animation-delay:1.6s;
} 

@-webkit-keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}
@-moz-keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}
@keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}

@-webkit-keyframes pulseit{
     0%{
          opacity:1;
     }
     50%{
          opacity:0;
     }
     100%{
          opacity:1;
     }
}
@-moz-keyframes pulseit{
     0%{
          opacity:1;
     }
     50%{
          opacity:0;
     }
     100%{
          opacity:1;
     }
}
@keyframes pulseit{
     0%{
          opacity:1;
     }
     50%{
          opacity:0;
     }
     100%{
          opacity:1;
     }
}
