body
{
    color:#000000;
    background-color:#171760;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    color:#dddddd;
}

h1,h2,h3,h4,h5,h6
{
    color:#eeeeee;
}

a:link
{
    color:#dcdcff;
}

a:visited
{
    color:#dcdcff;
}

a:hover,a:active
{
    color:#ff4800;
}






/*-- divs used to create infobar layout --*/

.bordered
{
    border-left:1px solid #121240;
    border-bottom:1px solid #1a1a90;
    border-right:1px solid #1a1a90;
    border-top:1px solid #121240;
}

/*-- divs and classes used in the albums list --*/

.album1
{
    background-color:#181850;
}

.album2
{
    background-color:#171760;
}

a.album:visited
{
    color:#dcdcff;
}

a.album:hover,a.album:active
{
    color:#ff4800;
}

#filemenu
{
    border-left:1px solid #444444;
}

/*-- divs and classes used in the playlist --*/

.playlistcurrentitem tr td a.album
{
    color:#cc0000;
}

#item
{
    border-top:1px solid #0022dd;
}

/*-- For Wikipedia and Last.FM pages --*/

.stleft
{
    border-right:1px solid #aaaaaa;
}

#wikipopup
{
    background:#000000;
}

#imagecontainer
{
    background:#ffffff;
}

#infosection
{
    background-color:#131330;
    border-bottom:1px solid #000000;
}

#albumsection
{
    border-top:1px solid #000000;
}

.translucent
{
    opacity:0.7;
}

.infowiki
{
    background-color:#171760;
}

.infoslideshow
{
    background-color:#000000;
}

/*-- For Album Cover Art --*/

#wobblebottom
{
    background:#181850;
}

#albumcovers
{
    background:#171760;
}

.popupwindow
{
    background:#121230;
    border-left:2px solid #888888;
    border-bottom:2px solid #888888;
    border-right:2px solid #888888;
    border-top:2px solid #888888;
}

.underlined
{
    border-bottom:1px solid #000000;
}

/*-- Styles for drop-down menus --*/

ul.topnav li a
{
    color:#12569a;
}

ul.subnav li a
{
    color:#ffffff;
}

ul.topnav li a:hover
{
    color:#ff4800;
}

ul.subnav
{
    border-radius: 0px 0px 6px 6px;
    border-left:1px solid #1a1a90;
    border-bottom:1px solid #010110;
    border-right:1px solid #010110;
    border-top:none;
}

ul.topnav li ul.subnav
{
    background:#000055;
    color:#ffffff;
}

ul.topnav li ul.subnav input.topform
{
    background:000000;
    color:#ffffff;
    border:1px solid #999999;
}

ul.topnav li ul.subnav input.topcheck
{
    background:000000;
    color:#ffffff;
}

button.topform
{
    background:#999999;
    color:#000000;
    border:1px solid #999999;
}

.topformbutton:hover
{
    color:#ff4800;
    border-left:1px solid #ff4800;
    border-bottom:1px solid #ff4800;
    border-right:1px solid #ff3600;
    border-top:1px solid #ff3600;
}

.separator
{
     border-bottom:12px solid #888888;
}

input.sourceform
{
    border:1px solid #999999;
    color:#222222;
}

button.sourceform
{
    border:1px solid #999999;
}

button.sourceform:hover
{
    color:#ff4800;
    border-left:1px solid #ff4800;
    border-bottom:1px solid #ff4800;
    border-right:1px solid #ff3600;
    border-top:1px solid #ff3600;
}

input.sourceform:hover
{
    border-left:1px solid #ff4800;
    border-bottom:1px solid #ff4800;
    border-right:1px solid #ff3600;
    border-top:1px solid #ff3600;
}

/*-- Styles to make the Wikipedia nav boxes look prettier --*/

.navbox-title
{
    color:#000000;
}

.navbox-group
{
    color:#000000;
}

.navbox-abovebelow
{
    color:#000000;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    color:#990000;
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    color:#990000;
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    color:#ff4800;
    text-decoration:none;
}
