body
{
    color:#000000;
    background-color:#171760;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    color:#dddddd;
}

h1,h2,h3,h4,h5,h6
{
    color:#eeeeee;
}

a:link
{
    color:#dcdcff;
}

a:visited
{
    color:#dcdcff;
}

a:hover,a:active
{
    color:#ff4800;
}



#notifications
{
    background-color:#181850;
}



/*-- divs used to create infobar layout --*/

.bordered
{
    border-left:1px solid #121240;
    border-bottom:1px solid #1a1a90;
    border-right:1px solid #1a1a90;
    border-top:1px solid #121240;
}

/*-- divs and classes used in the albums list --*/

.album1
{
    background-color:#181850;
}

.album2
{
    background-color:#171760;
}

a.album:visited
{
    color:#dcdcff;
}

a.album:hover,a.album:active
{
    color:#ff4800;
}

#filemenu
{
    border-left:1px solid #444444;
}

div.clickable:hover
{
    color:#ff4800;
}

div.clickable.selected:hover
{
    color:#dddddd;
}

/*-- divs and classes used in the playlist --*/

.playlistcurrentitem
{
    color:#cc0000;
}

.playlistcurrenttitle
{
    color:#cc0000;
}

.item
{
    border-top:1px solid #0022dd;
}

/*-- For Wikipedia and Last.FM pages --*/

.stleft
{
    border-right:1px solid #aaaaaa;
}

#wikipopup
{
    background-color:#000000;
}

#imagecontainer
{
    background-color:#ffffff;
}

.infosection
{
    background-color:#131330;
    /*border-bottom:1px solid #000000;*/
}

.albumsection
{
    background-color:#131330;
}

.translucent
{
    opacity:0.7;
}

.infowiki
{
    background-color:#171760;
}

.infoslideshow
{
    background-color:#000000;
}

/*-- For Album Cover Art --*/

.crackbaby
{
    background-color:#181850;
}

#albumcovers
{
    background-color:#171760;
}

.popupwindow
{
    background-color:#121230;
    border-left:2px solid #888888;
    border-bottom:2px solid #888888;
    border-right:2px solid #888888;
    border-top:2px solid #888888;
}

.underlined
{
    border-bottom:1px solid #000000;
}

/*-- Styles for drop-down menus --*/

ul.topnav li a
{
    color:#12569a;
}

ul.subnav li a
{
    color:#ffffff;
}

ul.topnav li a:hover
{
    color:#ff4800;
}

ul.subnav
{
    border-left:1px solid #1a1a90;
    border-bottom:1px solid #1a1a90;
    border-right:1px solid #1a1a90;
    border-top:none;
}

ul.topnav li ul.subnav
{
    background-color:#000055;
    color:#ffffff;
}

ul.topnav li ul.subnav input.topform
{
    background:000000;
    color:#ffffff;
    border:1px solid #999999;
}

ul.topnav li ul.subnav input.topcheck
{
    background-color:000000;
    color:#ffffff;
}

.separator
{
     border-bottom:12px solid #888888;
}

input.sourceform
{
    border:1px solid #999999;
    color:#222222;
}

input.topformbutton
{
    color:#000000;
}

/*-- Styles to make the Wikipedia nav boxes look prettier --*/

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    /*color:#990000;*/
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    /*color:#990000;*/
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    /*color:#ff4800;*/
    text-decoration:none;
}

.plainlinks
{
    /*background-color:#cccccc;*/
}

.tracklist tbody tr td
{
    /*color:#000000;*/
}

.tracklist tbody tr td ul li
{
    /*color:#000000;*/
}

.tracklist tbody tr th
{
    /*color:#000000;*/
    font-weight:bold;
}
