Source: mpd-client-rompr
Section: sound
Priority: extra
Maintainer: Mark Greenwood <fatgerman@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://sourceforge.net/projects/rompr/

Package: mpd-client-rompr
Architecture: all
Depends: apache2, php5-curl, imagemagick, libapache2-mod-php5, ${misc:Depends}
Description: Browser-based frontend for the Music Player Daemon
 Music Player
 Has a sophisticated collectionizer - sorts your music by artist 
  and album so you don't have to keep everything organised.
 If you prefer to keep your music organized yourself, you can browse 
  your directories directly.
 Plays local music, Last.FM radio stations, Icecast radio,
  Live BBC Radio, and soma fm radio, and can connect to any other 
  internet radio station.
 Cover art support.
 Get artist biographies from Last.FM and Wikipedia.
 Play a slideshow of artist images.
