body.mobile
{
    font-size:11pt;
}

h1
{
    font-size:130%;
}

h2
{
    font-size:120%;
}

.chooser
{
    margin-left:auto;
    margin-right:auto;
    font-weight:bold;
    font-size:130%;
    padding-bottom:1em;
    text-align:center;
}

.pref
{

    margin-left:8px;
    margin-bottom:12px;
}

#headerbar
{
    height:32px;
    padding:0px;
    margin:0px;
    overflow:hidden;
}

.topimg
{
    margin-right:4px;
    margin-left:4px;
    height: 26px;
    width: 26px;
    font-size:26px;
    margin-bottom:2px;
    margin-top:4px;
    cursor: pointer;
}

#volumecontrol
{
    z-index:102;
    position:absolute;
    display: none;
    width:3em;
}

.mainpane
{
    width:100%;
}

#infobar
{
    width:100%;
    height:100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

#playbackTime
{
    font-weight:bold;
    font-size:8px;
    padding-top:1px;
    height:11px;
    line-height:11px;
    text-align:center;
    width:100%;
}

@media screen and (max-width: 350px) and (max-height: 400px) {
    .controlbutton {
        width:38px !important;
        height:38px !important;
        font-size:38px !important;
    }
    .controlbutton-small {
        width:32px !important;
        height:32px !important;
        font-size:32px !important;
    }
    #albumcover
    {
        height:100px !important;
    }

    #albumpicture
    {
        height:100px !important;
    }
}

@media screen and (max-height: 378px) {

    #geoffreyboycott
    {
        padding-top:2px;
        height:142px;
    }

    #albumcover
    {
        height:140px;
        float:left;
        margin-left:6px;
    }

    #albumpicture
    {
        width:auto;
        height:140px;
    }

    #cssisshit
    {
        overflow:auto;
    }

    #progress
    {
        font-size:6pt;
        margin-top:12px;
    }

    #previoustrack
    {
        display:none;
    }
}

@media screen and (min-height: 379px) and (max-height: 500px) {

    #geoffreyboycott
    {
        padding-top:2px;
        margin-bottom:2px;
    }

    #albumcover
    {
        height:160px;
        margin-top:8px;
    }

    #albumpicture
    {
        width:auto;
        height:160px;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }

    #cssisshit
    {
        width:100%;
    }

    #progress
    {
        font-size:7pt;
        margin-top:4px;
    }

    #previoustrack
    {
        text-align:center;
        display:block;
    }

}

@media screen and (min-height: 501px) and (max-height: 700px) {

    #geoffreyboycott
    {
        padding-top:2px;
        margin-bottom:2px;
    }

    #albumcover
    {
        height:208px;
        margin-top:8px;
    }

    #albumpicture
    {
        width:auto;
        height:208px;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }

    #cssisshit
    {
        width:100%;
    }

    #progress
    {
        font-size:7pt;
        margin-top:4px;
    }

    #previoustrack
    {
        text-align:center;
        display:block;
    }

}

@media screen and (min-height: 701px) and (max-height: 1024px) {

    #geoffreyboycott
    {
        padding-top:2px;
        margin-bottom:2px;
    }

    #albumcover
    {
        height:320px;
        margin-top:8px;
    }

    #albumpicture
    {
        width:auto;
        height:320px;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }

    #cssisshit
    {
        width:100%;
    }

    #progress
    {
        font-size:8pt;
        margin-top:4px;
    }

    #previoustrack
    {
        text-align:center;
        display:block;
    }

}

@media screen and (min-height: 1025px) {

    #geoffreyboycott
    {
        padding-top:2px;
        margin-bottom:2px;
    }

    #albumcover
    {
        height:380px;
        margin-top:8px;
    }

    #albumpicture
    {
        width:auto;
        height:380px;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }

    #cssisshit
    {
        width:100%;
    }

    #progress
    {
        font-size:8pt;
        margin-top:4px;
    }

    #previoustrack
    {
        text-align:center;
        display:block;
    }

    #headerbar
    {
        height:42px;
        padding:0px;
        margin:0px;
        overflow:hidden;
    }

    #bottompage
    {
        top:42px;
        width:100%;
    }

    .topimg
    {
        height: 36px;
        width: 36px;
        font-size: 36px;
    }

    .controlbutton
    {
        height:52px;
        font-size:52px;
    }

}

#buttons
{
    padding-left:0px !important;
    padding-right:0px !important;
}

#nowplaying
{
    white-space:nowrap;
    margin:auto;
}

#nptext
{
    text-align:center;
}

#subscribe
{
    float:left;
    margin-left:4px;
}

#lastfm
{
    float:left;
    margin-left:4px;
}

#playcount
{
    padding-top:0px;
    padding-left:8px;
    overflow:hidden;
    opacity:0.9;
    font-size:8pt;
    height:25px;
    line-height:24px;
}

#dbtags {
    padding-top:0px;
    padding-left:8px;
    overflow:hidden;
    opacity:0.9;
    font-size:8pt;
    height:22px;
    line-height:22px;
}

.tag {
    margin-left:1.2em;
    margin-right:0;
}

.tagremover
{
    margin-left:0.5em;
}

#lastfm img
{
    margin-right:4px;
}

.menuitem
{
    font-weight:bold;
    margin:0px;
    padding-left:8px;
    padding-right:0px;
    padding-top:6px;
    padding-bottom:6px;
    -webkit-box-align:center;
    align-items: center;
}

.playlistalbum
{
    font-weight:bold;
    margin:0px;
    padding-left:4px;
    padding-right:0px;
    padding-top:6px;
    padding-bottom:6px;
    -webkit-box-align:stretch;
    align-items: stretch;
}

.menu
{
	width:1.5em;
	height:1.5em;
    vertical-align:middle;
    cursor:pointer;
}

.mh
{
    margin-right:2em;
    display:block;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.ninesix
{
    font-size:96%;
    padding-top:4px;
    padding-bottom:4px;
}

#amontobin
{
    margin-top:4px;
    height:50px;
}

#nowplayingfiddler
{
    height: 0px;
}

#scrobwrangler
{
    font-size:8pt;
    width:90%;
}

.infobarlayout
{
    height:70px;
}

#stars
{
    float: left;
    margin-top:0px;
    margin-right:2px;
    margin-left:4px;
    padding-top:0px;
}

#controls
{
    padding-top:1px;
}

.playlistrow2
{
    font-size:80%;
}

#notifications
{
    position:absolute;
    width:100%;
    padding:4px;
    top:0px;
    left:0px;
    display:none;
    opacity:1.0;
    font-size:8pt;
    font-weight:bold;
    z-index:2000;
}

.clrbth
{
    clear:both;
    display:table;
    margin-top:8px;
}

.scroller
{
    -webkit-overflow-scrolling:touch;
    overflow-y:auto;
    overflow-x:hidden;
}

.progressbar_v
{
    height:100%;
    width:2em;
    margin-right:auto;
    margin-left:auto;
}

.infobox
{
    float:none;
    clear:both;
    margin-left:auto !important;
    margin-right:auto !important;
    width:90% !important;
}

.infobox_v3
{
    float:none;
    clear:both;
    margin-left:auto !important;
    margin-right:auto !important;
    width:90% !important;
}

.stleft
{
    float:none;
    width:auto;
    max-width:95%;
    clear:both;
    border-right:none !important;
    border-bottom: 1px solid #dddddd !important;
}

.thumb
{
    float:none !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.content img
{
    max-width: 100% !important;
    height: auto !important;
}

.thumbinner
{
    margin-left:auto;
    margin-right:auto;
}

.info-detail-layout
{
    -webkit-box-orient:vertical;
    flex-direction: column;
}

.info-box-fixed
{
    padding-left: 1em;
}

.smallicon
{
    padding:0px;
    margin:4px;
    width:20px;
    height:20px;
    font-size:20px;
    vertical-align:middle;
}

.medicon
{
    padding:0px;
    margin:2px;
    height:24px;
    width:24px;
    font-size:24px;
    vertical-align:middle;
}

.playlisticon
{
    padding:0px;
    margin-right:4px;
    margin-bottom:2px;
    margin-top:2px;
    width:16px;
    height:16px;
    font-size:16px;
    vertical-align:middle;
}

.playlisticonr
{
    padding:0px;
    margin-left:4px;
    margin-bottom:2px;
    margin-top:2px;
    margin-right:2px;
    width:20px;
    height:20px;
    font-size:20px;
    vertical-align:middle;
}

.npicon
{
    padding:0px;
    margin-top:0px;
    margin-left:0px;
    margin-bottom:0px;
    margin-right:4px;
    height:20px;
    width:20px;
    font-size:20px;
    vertical-align:middle;
}

.rating-icon-big
{
    height: 20px;
    width: 100px;
    font-size:20px;
    cursor: pointer;
    vertical-align:middle;
}

.rating-icon-small
{
    height: 14px;
    width: 70px;
    font-size:14px;
    cursor: pointer;
    vertical-align:middle;

}

.trackgroup
{
    white-space:normal;
}

.dropdown-button
{
    margin-left:-20px !important;
}

.indent
{
    margin-left:24px;
}

.padright
{
    padding-right:4px;
}

.multidrop
{
    margin-top:4px;
    margin-bottom:4px;
}

