body
{
    color:#000000;
    background-image:url('../newimages/silver1.jpg');
}






h1,h2,h3,h4,h5,h6
{
    color:#000000;
}

a:link
{
    color:#12569a;
}

a:visited
{
    color:#12569a;
}

a:hover,a:active
{
    color:#ff4800;
}

button
{
    color:#000000;
    border: 1px solid #000000;
}

.gradbutton
{
    border: 1px solid #000000;
    background-image:url('../newimages/silver2.jpg');
}

button:hover, .gradbutton:hover
{
    color:#ff4800;
    text-shadow: 0 0 15px #ff4800;
}

input.inbrowser, div.inbrowser
{
    border: 1px solid #888888;
}

#notifications
{
    background-image:url('../newimages/silver2.jpg');;
}

/*-- divs used to create infobar layout --*/

.bordered
{
    border-left:1px solid #aaaaaa;
    border-bottom:1px solid #dddddd;
    border-right:1px solid #dddddd;
    border-top:1px solid #aaaaaa;
}

/*-- divs and classes used in the albums list --*/

.album1
{
    background-image:url('../newimages/silver2.jpg');
}

.album2
{
    background-image:url('../newimages/silver1.jpg');
}

a.album:visited
{
    color:#12569a;
}

a.album:hover,a.album:active
{
    color:#ff4800;
}

#filemenu
{
    border-left:1px solid #000000;
}

div.clickable:hover
{
    color:#ff4800;
}

div.clickable.selected:hover
{
    color:#dddddd;
}

.selected
{
    background-color:#CC5500;
}

/*-- divs and classes used in the playlist --*/

.playlistcurrentitem
{
    color:#cc0000;
}

.playlistcurrenttitle
{
    color:#cc0000;
}

.item
{
    border-top:1px solid #000000;
}

/*-- For Wikipedia and Last.FM pages --*/

.stleft
{
    border-right:1px solid #aaaaaa;
}

#wikipopup
{
    background-color:#000000;
}

#imagecontainer
{
    background-color:#ffffff;
}

.infosection
{
    background-color:#efefef;
    /*border-bottom:1px solid #000000;*/
}

.albumsection
{
    background-color:#e7e7e7;
}

.translucent
{
    opacity:0.7;
}

.infowiki
{
    background-color:#ffffff;
}

.infoslideshow
{
    background-color:#333333;
}

/*-- For Album Cover Art --*/

.crackbaby
{
    background-color:#eeeeee;
}

#albumcovers
{
    background-color:#eeeeee;
}

.popupwindow
{
    background-color:#dddddd;
    border-left:2px solid #ffffff;
    border-bottom:2px solid #555555;
    border-right:2px solid #555555;
    border-top:2px solid #ffffff;
}

.underlined
{
    border-bottom:1px solid #000000;
}

/*-- Styles for drop-down menus --*/

div.topdropmenu
{
    background-image:url('../newimages/silver2.jpg');;
    border-left:1px solid #ffffff;
    border-bottom:1px solid #555555;
    border-right:1px solid #555555;
    border-top:none;
}

.configtitle
{
    background-image:url('../newimages/silver1.jpg');
}

.separator
{
     border-bottom:12px solid #888888;
}

/*-- Styles to make the Wikipedia nav boxes look prettier --*/

table.navbox th
{
    background-color: #e5e5e5;
}

.navbox-title
{
    color:#000000;
}

.navbox-group
{
    color:#000000;
}

.navbox-abovebelow
{
    color:#000000;
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    color:#990000;
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    color:#990000;
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    color:#ff4800;
    text-decoration:none;
}

.funkymusic
{
    background-color:#ededed;
}

table.histable tr:hover {
    background-color:#CC5500;
}

.backhi:hover {
    background-color:#CC5500;
    cursor:pointer;
}

tr.clickaddtrack:hover
{
    background-image:url('../newimages/silver1.jpg');
}

.edged
{
    border-left:1px solid #222222;
    border-right:1px solid #222222;
    border-bottom:1px solid #222222;
}

#fiddler {
    border-left: 4px solid #fe6500;
    border-right: 4px solid #fe6500;
}

.highlighted {
    border-top: 4px solid #fe6800 !important;
    border-left: 4px solid #fe6800 !important;
    border-right: 4px solid #fe6800 !important;
    border-radius:2px !important;
}

#imageeditor
{
    border: 4px solid #fe6500;
}

.tagholder table tr th {
    background-image:url('../newimages/silver1.jpg');
    border-bottom:1px solid #000000;
}

.bsel
{
    color:#ff4800;
}

.bmid
{
    border-left:2px solid #ff4800;
}

.albumthing
{
    background-color:#f9f9f9;    
}

#artistchooser
{
    border-bottom:1px solid #555555;
    border-top:1px solid #555555;
    color:#555555;    
}

.currentbun
{
    border-bottom:1px solid #fe6500;
    padding-bottom:2px;
}

.dropshadow
{
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    7px 7px 5px rgba(50, 55, 50, 0.6);
    box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.6);
}

.progressbar
{
    border:1px solid #414141;
}

.progressbar_v
{
    border:1px solid #414141;
}

.podcastitem
{
    border-top:1px solid #000000;
}

.mCSB_draggerRail
{
    background:rgba(0,0,0,0.1) !important;
}

.mCSB_dragger_bar
{
    background:rgba(0,0,0,0.75) !important;
}
