body
{
    color:#000000;
    background-color:#181818;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    color:#dddddd;
}

h1,h2,h3,h4,h5,h6
{
    color:#eeeeee;
}

button, input[type="button"]
{
    background-color:#202020 !important;
    border:1px solid #dedede;
    background-image:none !important;
    color:#dddddd;
    font-weight:bold;
    font-size:110%;
}

button:hover, input[type="button"]:hover
{
    color:#ff4800;
    border:1px solid #ff4800;
    text-shadow: 0 0 15px #ff4800;
}

input
{
    color:#181818;
}

a:link
{
    color:#dcdcff;
}

a:visited
{
    color:#dcdcff;
}

a:hover,a:active
{
    color:#ff4800;
}

#headerbar
{
    background-color:#181818;
}

/*-- divs used to create infobar layout --*/

.bordered
{
    border-left:1px solid #000000;
    border-bottom:1px solid #343434;
    border-right:1px solid #343434;
    border-top:1px solid #000000;
}

#notifications
{
    background-color:#000000;
}
/*-- divs and classes used in the albums list --*/

.album1
{
    background-color:#252525;
}

.album2
{
    background-color:#181818;
}

a.album:visited
{
    color:#dcdcff;
}

a.album:hover,a.album:active
{
    color:#ff4800;
}

#filemenu
{
    border-left:1px solid #444444;
}

div.clickable:hover, .infoclick:hover
{
    color:#ff4800;
}

div.clickable.selected:hover
{
    color:#dddddd;
}

/*-- divs and classes used in the playlist --*/

.playlistcurrentitem
{
    font-size:110%;
    text-shadow: 0 0 15px #ffffff;
    transition:all 0.5s;
    color:#ffffff;
}

.playlistitem
{
    transition: all 0.6s;
}

.playlistcurrenttitle
{
    font-size:125%
    text-shadow 0 0 20px #ffffff;
}

.item
{
    border-top:1px solid #cccccc;
}

.inbrowser
{
    color:#000000;
}

/*-- For Wikipedia and Last.FM pages --*/

.stleft
{
    border-right:1px solid #aaaaaa;
}

#wikipopup
{
    background-color:#000000;
}

#imagecontainer
{
    background-color:#ffffff;
}

.infosection
{
    border-top:1px solid #000000;
}

.albumsection
{
    background-color:#000000;
}

.translucent
{
    opacity:0.7;
}

.infowiki
{
    background-color:#181818;
}

.infoslideshow
{
    background-color:#000000;
}

/*-- For Album Cover Art --*/

.crackbaby
{
    background-color:#444444;
}

#albumcovers
{
    background-color:#444444;
}

.popupwindow
{
    background-color:#111111;
    border-left:1px solid #666666;
    border-bottom:1px solid #000000;
    border-right:1px solid #000000;
    border-top:1px solid #666666;
}

.underlined
{
    border-bottom:1px solid #000000;
}

/*-- Styles for drop-down menus --*/

div.topdropmenu
{
    background-color:#191919;
    border-left:1px solid #262626;
    border-bottom:1px solid #000000;
    border-right:1px solid #000000;
    border-top:none;
}

.configtitle
{
    background-color:#252525;
}

.separator
{
     border-bottom:12px solid #888888;
}

/*-- Styles to make the Wikipedia nav boxes look prettier --*/

th.navbox-title
{
    background-color:#343434;
}

.navbox-abovebelow
{
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th
{
    font-weight:bold;
}

th.tlheader
{
    background-color:#232323;
}

.description
{
    margin-top:4px;
}

.underline
{
    border-bottom: 1px solid #999999;
}

.infosection h2
{
    border-bottom:2px solid #eeeeee;
}

.funkymusic
{
    background-color:#000000;
    border-left:1px solid #666666;
    border-bottom:1px solid #000000;
    border-right:1px solid #000000;
}

.backhi:hover {
    color:#ff4800;
    cursor:pointer;
}

table.histable tr:hover {
    background-color:#ff4800;
    cursor:pointer;
}

.albumthing
{
    background-color:#202020;
}

.tagholder table tr th
{
    border-bottom:1px solid #cccccc;
    background-color:#000000;
}

tr.clickaddtrack:hover
{
    background-color:#353535;
}

.drop-box
{
    background-color:#fefefe;
    color:#090909;
}

.tagman-hover
{
    border: 1px solid #fe6500;
    background-color: #ababab !important;
}

.edged
{
    border-left:1px solid #dddddd;
    border-right:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
}

span.clickartistchoose:hover
{
    color:#888888;
}
