body
{
    background-image: radial-gradient(circle farthest-side at top left, red, orange, yellow, green, blue, indigo, violet);
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    color:#000000;
}

a:link
{
    color:#0b0080;
}

a:visited
{
    color:#0b0080;
}

a:hover,a:active
{
    text-shadow: 0 0 15px #000000;
    cursor:pointer;
}

/*-- divs used to create infobar layout --*/

.bordered
{
    border-left:1px solid orange;
    border-bottom:1px solid yellow;
    border-right:1px solid yellow;
    border-top:1px solid orange;
}


button, input[type="button"], .gradbutton
{
    background-image: radial-gradient(circle farthest-side at center, red, orange, yellow, green, blue, indigo, violet);
    color:#000000;
    border:1px solid #000000;
}

.crackbaby button, .albumcovers .infosection button
{
    background-image:none !important;
    background-color:transparent !important;
    border:0px none !important;
}

button:hover, input[type="button"]:hover
{
    color:#ffffff;
    text-shadow: 0 0 15px #ffffff;
}

input
{
    color:#181818;
}

input.inbrowser, div.inbrowser
{
    border: 1px solid #000000;
}

select 
{
    color:#000000;
}

#notifications
{
    background-image: radial-gradient(circle farthest-side at top left, red, orange, yellow, green, blue, indigo, violet);
}

a.album:visited
{
    color:#220000;
}

a.album:hover,a.album:active
{
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    cursor:pointer;
}

#filemenu
{
    border-left:1px solid orange;
}

div.clickable:hover, .infoclick:hover
{
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    cursor:pointer;
}

div.clickable.selected:hover
{
    color:#ffffff;
}

.selected
{
    background-color:rgba(255,72,0,0.7);
}


/*-- divs and classes used in the playlist --*/

.playlistcurrentitem
{
    font-weight:bold;
    font-size:120%;
    text-shadow: 0 0 15px #ffffff;
    transition:all 0.2s;
}

.playlistitem
{
    transition: all 0.3s;
}

.playlistcurrenttitle
{
    text-shadow: 0 0 15px #ffffff;
    font-weight:bold;
}

.inbrowser
{
    color:#000000;
}

/*-- For Wikipedia and Last.FM pages --*/

.stleft
{
    border-right:1px solid #888888;
}

#wikipopup
{
    background-color:#000000;
}

#imagecontainer
{
    background-color:#ffffff;
}

.infosection
{
    background-image: radial-gradient(circle farthest-side at top left, red, orange, yellow, green, blue, indigo, violet);
}

.translucent
{
    opacity:0.7;
}

/*-- For Album Cover Art --*/

.crackbaby
{
    background-image: radial-gradient(circle farthest-side at top left, red, orange, yellow, green, blue, indigo, violet);
    box-sizing:border-box;
}

.popupwindow
{
    background-image: radial-gradient(circle farthest-side at top left, red, orange, yellow, green, blue, indigo, violet);
    border-left:1px solid yellow;
    border-bottom:1px solid red;
    border-right:1px solid red;
    border-top:1px solid yellow;
}

.underlined
{
    border-bottom:1px solid orange;
}

/*-- Styles for drop-down menus --*/

div.topdropmenu
{
    background-image: radial-gradient(circle farthest-side at top left, red, orange, yellow, green, blue, indigo, violet);
    border-left:1px solid yellow;
    border-bottom:1px solid red;
    border-right:1px solid red;
}

.configtitle
{
    background-image: radial-gradient(circle farthest-side at top left, red, orange, yellow, green, blue, indigo, violet);
}

body.mobile .configtitle
{
    width:95%;
    margin-left:auto;
    margin-right:auto;
}

.separator
{
     border-bottom:12px solid orange;
}

/*-- Styles to make the Wikipedia nav boxes look prettier --*/

.navbox-abovebelow
{
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th
{
    font-weight:bold;
}

.description
{
    margin-top:4px;
}

.underline
{
    border-bottom: 1px solid orange;
}

.infosection h2
{
    border-bottom:2px solid orange;
}

.funkymusic
{
    background-image: radial-gradient(circle farthest-side at top left, red, orange, yellow, green, blue, indigo, violet);
}

table.histable tr:hover {
    font-size:105%;
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    transition:all 0.1s;
}

table.histable tr
{
    transition:all 0.2s;
}

.backhi:hover {
    font-size:105%;
    text-shadow: 0 0 15px #ffffff;
    color:#ff4800;
    cursor:pointer;
    transition:all 0.1s;
}

.backhi
{
    transition:all 0.2s;
}

tr.clickaddtrack:hover
{
    background-color:#e1e4ea;
}

.edged
{
    border-left:1px solid red;
    border-right:1px solid red;
    border-bottom:1px solid red;
}

.albumthing
{
    background-color:transparent;
}

.topimg
{
    opacity:0.8;
}

.topimg:not(.button-disabled):hover
{
    opacity:1;
}

.bsel
{
    color:#ffffff;
    text-shadow:0 0 15px #ffffff;
}

.bmid
{
    border-left:2px solid #ff4800;
}

#fiddler
{
    background: transparent !important;
}

.highlighted {
    background-color:rgba(0,0,0,0.3);
}

#imageeditor
{
    background-color:rgba(0,0,0,0.3);
}

.tagholder table tr th {
    background-color:rgba(255,255,255,0.5);
    border-bottom:1px solid #cccccc;
}

#artistchooser
{
    border-bottom:1px solid #777777;
    border-top:1px solid #777777;
    color:#222222;    
}
