body
{
    background-image:url("skytrailscrop.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}

#sources, #artistcoverslist
{
    background-color:rgba(255,255,255,0.3);
}

.mainpane
{
    background-color:rgba(255,255,255,0.3);    
}

.album2
{
    background-color:rgba(255,255,255,0.2);
}

#playlist
{
    background-color:rgba(255,255,255,0.3);
}

#infopane
{
    background-color:rgba(255,255,255,0.4);    
}

.albumthing
{
    background-color:rgba(255,255,255,0.1);    
}

#artistbio, #spartistinfo
{
    padding:4px;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    color:#000000;
}

a:link
{
    color:#ff4800;
}

a:visited
{
    color:#ff4800;
}

a:hover,a:active
{
    text-shadow: 0 0 15px #000000;
    cursor:pointer;
}

.infowiki
{
    color:black;
}

/*-- divs used to create infobar layout --*/

button, input[type="button"], .gradbutton
{
    color:#000000;
    background-color:rgba(255,255,255,0.5);    
    border:1px solid #222222;
}

.crackbaby button, .albumcovers .infosection button
{
    background-image:none !important;
    background-color:transparent !important;
    border:0px none !important;
}

button:hover, input[type="button"]:hover
{
    color:#ffffff;
    border:1px solid #ffffff;
    text-shadow: 0 0 15px #ffffff;
}

input
{
    color:#181818;
}

select 
{
    color:#000000;
}

#notifications
{
    background-color:rgba(65,65,85,0.9);
    color:#ffffff;
}

a.album:visited
{
    color:#220000;
}

a.album:hover,a.album:active
{
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    cursor:pointer;
}

#filemenu
{
    border-left:1px solid white;
}

div.clickable:hover, .infoclick:hover
{
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    cursor:pointer;
}

div.clickable.selected:hover
{
    color:#ffffff;
}

.selected
{
    background-color:rgba(255,72,0,0.7);
}

/*-- divs and classes used in the playlist --*/

.playlistcurrentitem
{
    font-weight:bold;
    font-size:120%;
    color:#ff4800;
    transition:all 0.2s;
}

.playlistitem
{
    transition: all 0.3s;
}

.playlistcurrenttitle
{
    text-shadow: 0px 0px 20px #cccccc;
    font-weight:bold;
    color:#ff4800;
    background-color:rgba(255,255,255,0.2);
}

.playlisttitle{
    background-color:rgba(255,255,255,0.2);
}

.inbrowser
{
    color:#000000;
}

/*-- For Wikipedia and Last.FM pages --*/

.stleft
{
    border-right:1px solid #888888;
}

#wikipopup
{
    background-color:#000000;
}

#imagecontainer
{
    background-color:#ffffff;
}

.infosection
{
    background-color:rgba(255,255,255,0.4);
    background-size:cover;
    background-repeat:no-repeat;
}

.translucent
{
    opacity:0.7;
}

/*-- For Album Cover Art --*/

.crackbaby
{
    background-color:rgba(255,255,255,0.4);
    box-sizing:border-box;
    background-size:cover;
    background-repeat:no-repeat;
}

.popupwindow
{
    background-color:rgba(65,65,85,0.9);
    color:white;
}

.popupwindow td, .popupwindow h2, .popupwindow p
{
    color:white;
}

.underlined
{
    border-bottom:1px solid orange;
}

/*-- Styles for drop-down menus --*/

div.topdropmenu
{
    background-color:rgba(65,65,85,0.9);
    color:white;
}

div.topdropmenu td
{
    color:white;    
}

.configtitle
{
    background-image:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.2));
}

body.mobile .configtitle
{
    width:95%;
    margin-left:auto;
    margin-right:auto;
}

.separator
{
     border-bottom:12px solid orange;
}

/*-- Styles to make the Wikipedia nav boxes look prettier --*/

table.navbox th
{
    background-color: rgba(255,255,255,0.2);
}

.navbox-abovebelow
{
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th
{
    font-weight:bold;
}

.description
{
    margin-top:4px;
}

.underline
{
    border-bottom: 1px solid black;
}

.infosection h2
{
    border-bottom:2px solid black;
}

.funkymusic
{
    background-color:rgba(65,65,85,0.9);
    color:white;
}

table.histable tr:hover {
    font-size:105%;
    text-shadow: 0 0 15px #ffffff;
    color:#000000;
    transition:all 0.1s;
}

table.histable tr
{
    transition:all 0.2s;
}

.backhi:hover {
    font-size:105%;
    text-shadow: 0 0 15px #ffffff;
    color:#ff4800;
    cursor:pointer;
    transition:all 0.1s;
}

.backhi
{
    transition:all 0.2s;
}

tr.clickaddtrack:hover
{
    background-color:#e1e4ea;
}

.edged
{
    border-left:1px solid white;
    border-bottom:1px solid white;
    border-right:1px solid white;
}

.topimg
{
    opacity:0.8;
}

.topimg:not(.button-disabled):hover
{
    opacity:1;
}

.bsel
{
    color:#000000;
    text-shadow:0 0 15px #666666;
}

.bmid
{
    border-left:2px solid #ff4800;
}

#fiddler
{
    background: transparent !important;
}

.highlighted {
    background-color:rgba(255,255,255,0.4);
}

#imageeditor
{
    background-color:rgba(255,255,255,0.4);
}

.tagholder table tr th {
    background-color:rgba(255,255,255,0.5);
    border-bottom:1px solid #333333;
}

#artistchooser
{
    background-color:rgba(255,255,255,0.2);
    color:#777777;    
}

.currentbun
{
    border-bottom:1px solid #fe6500;
    padding-bottom:2px;
}

.dropshadow
{
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    7px 7px 5px rgba(50, 55, 50, 0.5);
    box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.5);
}

.progressbar
{
    border:1px solid #414141;
}

.progressbar_v
{
    border:1px solid #414141;
}

.podcastitem
{
    border-top:1px solid #000000;
}

#dragger
{
    background-color:rgba(0,0,0,0.3);
}
