#buttons
{
    padding-left:40px;
    /*padding-right:8px;*/
    padding-top:4px;
    padding-bottom:6px;
}

.controlbutton
{
    margin:0px;
    padding:0px;
    font-size:48px;
    vertical-align:text-bottom;
    display:table-cell;
}

.controlbutton-small
{
    margin:0px;
    padding-bottom:8px;
    font-size:32px;
    vertical-align:bottom;
    display:table-cell;
}

@media screen and (min-height: 1000px) and (max-height: 1199px) {
    #buttons {
        padding-top:14px;
    }
}

@media screen and (min-height: 1200px) {
    .controlbutton {
        font-size:56px;
    }
    .controlbutton-small {
        font-size:38px;
        padding-bottom:8px;
    }
    #buttons {
        padding-top:20px;
    }
    #playbackTime {
        margin-top:2px;
        font-size:14px;
        line-height:16px;
        height:16px;
    }
}

.shiftleft
{
    position:relative;
    left:-12px;
}

.shiftleft2
{
    position:relative;
    left:-24px;
}

.shiftleft3
{
    position:relative;
    left:-32px;
}

.shiftleft4
{
    position:relative;
    left:-40px;
}

/* Nasty nasty hacky hacky for where we're using a png icon
   for discogs because if we don't do this it throws
   the alignment out and the spinners don't work */

.icon-discogs.smallcover-svg:before
{
  height:32px;
  width:78px;
}

.menu
{
    font-size:140%;
}