#buttons
{
    padding-left:24px;
    padding-right:24px;
    padding-top:4px;
    padding-bottom:6px;
}

.controlbutton,.controlbutton-small
{
    margin:0px;
    padding:0px;
    font-size:38px;
    vertical-align:middle;
    display:inline-flex;
}

.controlbutton:hover,.controlbutton-small:hover
{
    color: #FFF;
    text-shadow: 0 0 15px #C16700;
    
}

.controlbutton:before
{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:2px;
    margin-right:2px;    
}

.controlbutton-small:before
{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:2px;
    margin-right:2px;        
}

@media screen and (min-height: 1000px) and (max-height: 1199px) {
    .controlbutton {
        font-size:44px;
    }
    .controlbutton-small {
        font-size:38px;
    }
    #buttons {
        padding-top:14px;
    }
}

@media screen and (min-height: 1200px) {
    .controlbutton {
        font-size:56px;
    }
    .controlbutton-small {
        font-size:38px;
    }
    #buttons {
        padding-top:20px;
    }
    #playbackTime {
        margin-top:2px;
        font-size:14px;
        line-height:16px;
        height:16px;
    }
}

/* Nasty nasty hacky hacky for where we're using a png icon
   for discogs because if we don't do this it throws
   the alignment out and the spinners don't work */

.icon-discogs.smallcover-svg:before
{
  height:32px;
  width:32px;
}

#headerbar:hover i.topimg:before
{
    text-shadow:0 0 3px #AAA;
    opacity:0.2;
}
#headerbar i.topimg:hover:before
{
    opacity:1;
    text-shadow:0 0 15px #C16700;
}

.topimg
{
  margin-top:0px;
}

.progressbar
{
   border-radius: 0.4em;
}

.npicon
{
    height: auto !important;
}
