@font-face {
  font-family: 'rompr';
  src: url('rompr.eot?55361223');
  src: url('rompr.eot?55361223#iefix') format('embedded-opentype'),
       url('rompr.woff?55361223') format('woff'),
       url('rompr.ttf?55361223') format('truetype'),
       url('rompr.svg?55361223#rompr') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'rompr';
    src: url('../font/rompr.svg?55361223#rompr') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "rompr";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  /*width: 1em;*/
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-play-circled:before { content: '\e800'; } /* '' */
.icon-pause-circled:before { content: '\e801'; } /* '' */
.icon-lastfm:before { content: '\e806'; } /* '' */
.icon-lastfm-squared:before { content: '\e807'; } /* '' */
.icon-folder-open-empty:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-cd:before { content: '\e80a'; } /* '' */
.icon-signal:before { content: '\e80b'; } /* '' */
.icon-angle-double-left:before { content: '\e80c'; } /* '' */
.icon-angle-double-right:before { content: '\e80d'; } /* '' */
.icon-cog:before { content: '\e80e'; } /* '' */
.icon-cog-alt:before { content: '\e80f'; } /* '' */
.icon-sliders:before { content: '\e810'; } /* '' */
.icon-menu:before { content: '\e811'; } /* '' */
.icon-spotify:before { content: '\e812'; } /* '' */
.icon-lastfm-1:before { content: '\e813'; } /* '' */
.icon-wordpress:before { content: '\e814'; } /* '' */
.icon-wordpress-1:before { content: '\e815'; } /* '' */
.icon-left-circled:before { content: '\e816'; } /* '' */
.icon-right-circled:before { content: '\e817'; } /* '' */
.icon-music:before { content: '\e818'; } /* '' */
.icon-note:before { content: '\e819'; } /* '' */
.icon-library:before { content: '\e81a'; } /* '' */
.icon-clock:before { content: '\e81b'; } /* '' */
.icon-trash:before { content: '\e81c'; } /* '' */
.icon-trash-empty:before { content: '\e81d'; } /* '' */
.icon-floppy:before { content: '\e81e'; } /* '' */
.icon-download:before { content: '\e81f'; } /* '' */
.icon-upload:before { content: '\e820'; } /* '' */
.icon-waves:before { content: '\e821'; } /* '' */
.icon-wifi:before { content: '\e822'; } /* '' */
.icon-podcast:before { content: '\e823'; } /* '' */
.icon-doc-text:before { content: '\e824'; } /* '' */
.icon-doc-text-1:before { content: '\e825'; } /* '' */
.icon-left-circled-1:before { content: '\e826'; } /* '' */
.icon-right-circled-1:before { content: '\e827'; } /* '' */
.icon-sun:before { content: '\e828'; } /* '' */
.icon-note-beamed:before { content: '\e829'; } /* '' */
.icon-alarm-clock:before { content: '\e82a'; } /* '' */
.icon-alarm:before { content: '\e82b'; } /* '' */
.icon-books:before { content: '\e82c'; } /* '' */
.icon-radio-tower:before { content: '\e82d'; } /* '' */
.icon-versions:before { content: '\e82e'; } /* '' */
.icon-multitrack-audio:before { content: '\e82f'; } /* '' */
.icon-cancel-circled:before { content: '\e830'; } /* '' */
.icon-wikipedia:before { content: '\e831'; } /* '' */
.icon-spin6:before { content: '\e832'; } /* '' */
.icon-musicbrainz:before { content: '\e833'; } /* '' */
.icon-basket-circled:before { content: '\e834'; } /* '' */
.icon-block:before { content: '\e835'; } /* '' */
.icon-info-circled:before { content: '\e836'; } /* '' */
.icon-youtube:before { content: '\e837'; } /* '' */
.icon-attention-1:before { content: '\e838'; } /* '' */
.icon-facebook-squared:before { content: '\e839'; } /* '' */
.icon-play-1:before { content: '\e83a'; } /* '' */
.icon-pause-1:before { content: '\e83b'; } /* '' */
.icon-stop-1:before { content: '\e83c'; } /* '' */
.icon-to-end-1:before { content: '\e83d'; } /* '' */
.icon-fast-forward:before { content: '\e83e'; } /* '' */
.icon-fast-backward:before { content: '\e83f'; } /* '' */
.icon-rss:before { content: '\e840'; } /* '' */
.icon-heart:before { content: '\e841'; } /* '' */
.icon-heart-broken:before { content: '\e842'; } /* '' */
.icon-resize-horizontal:before { content: '\e843'; } /* '' */
.icon-soundcloud-circled:before { content: '\e844'; } /* '' */
.icon-tags:before { content: '\e845'; } /* '' */
.icon-volume-up:before { content: '\e846'; } /* '' */
.icon-toggle-off:before { content: '\e847'; } /* '' */
.icon-toggle-on:before { content: '\e848'; } /* '' */
.icon-menu-outline:before { content: '\e849'; } /* '' */