@font-face { font-family: 'rompr'; src: url('rompr.eot'); src: url('rompr.eot?#iefix') format('embedded-opentype'), url('rompr.woff') format('woff'), url('rompr.ttf') format('truetype'), url('rompr.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "rompr";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

}

[class^="icon-"], [class*=" icon-"] {
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
}

.button-disabled { opacity: 0.1 }

.icon-play-circled:before { content: '\e800'; } /* '' */
.icon-pause-circled:before { content: '\e801'; } /* '' */
.icon-fast-backward:before { content: '\e83f'; } /* '' */
.icon-fast-forward:before { content: '\e83e'; } /* '' */
.icon-stop-1:before { content: '\e83c'; } /* '' */
.icon-to-end-1:before { content: '\e83d'; } /* '' */

.icon-music:before { content: '\e818'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-folder-open-empty:before { content: '\e808'; } /* '' */
.icon-radio-tower:before { content: '\e82d'; } /* '' */
.icon-cd:before { content: '\e80a'; } /* '' */
.icon-resize-horizontal:before { content: '\e843'; } /* '' */
.icon-angle-double-left:before { content: '\e80c'; } /* '' */
.icon-angle-double-right:before { content: '\e80d'; } /* '' */
.icon-menu:before { content: '\e811'; } /* '' */
.icon-menu-outline:before { content: '\e849'; } /* '' */
.icon-versions:before { content: '\e82e'; } /* '' */
.icon-left-circled:before { content: '\e816'; } /* '' */
.icon-right-circled:before { content: '\e817'; } /* '' */
.icon-cog-alt:before { content: '\e80f'; } /* '' */
.icon-trash:before { content: '\e81c'; } /* '' */
.icon-wifi:before { content: '\e822'; } /* '' */
.icon-doc-text:before { content: '\e824'; } /* '' */
.icon-floppy:before { content: '\e81e'; } /* '' */
.icon-cancel-circled:before { content: '\e830'; } /* '' */
.icon-plus:before { 
  content: '\e830'; 
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    opacity:0.7;
}
.icon-alarm:before { content: '\e82b'; } /* '' */
.icon-alarm-on:before { content: '\e82a'; } /* '' */
.icon-library:before { content: '\e81a'; } /* '' */
.icon-lastfm-1:before { content: '\e813'; } /* '' */
.icon-wikipedia:before { content: '\e831'; } /* '' */
.icon-musicbrainz:before { content: '\e833'; } /* '' */
.icon-discogs {
  background-image: url('discogs-logo.svg');
  display: inline-block;
}
.icon-doc-text-1:before { content: '\e825'; } /* '' */
.icon-soundcloud-circled:before { content: '\e844'; } /* '' */
.icon-youtube:before { content: '\e837'; } /* '' */
.icon-gmusic-circled:before { content: '\e802'; } /* '' */
.icon-spotify-circled:before { content: '\e812'; } /* '' */
.icon-podcast-circled:before { content: '\e823'; } /* '' */
.icon-internetarchive-circled:before { content: '\e854'; } /* '' */
.icon-increase:before { content: '\e803'; } /* '' */
.icon-decrease:before { content: '\e804'; } /* '' */
.icon-basket-circled:before { content: '\e834'; } /* '' */
.icon-attention-1:before { content: '\e838'; } /* '' */
.icon-info-circled:before { content: '\e836'; } /* '' */
.icon-download:before { content: '\e81f'; } /* '' */
.icon-sun:before { content: '\e828'; } /* '' */
.icon-headphones:before { content: '\e805'; } /* '' */
.icon-unlistened:before { content: '\e84a'; } /* '' */
.icon-block:before { content: '\e835'; } /* '' */
.icon-heart:before { content: '\e841'; } /* '' */
.icon-heart-broken:before { content: '\e842'; } /* '' */
.icon-refresh:before { content: '\e84b'; } /* '' */
.icon-somafm {
  background-image: url('somafm.svg');
  display: inline-block;
}
.icon-icecast {
  background-image: url('icecast.svg');
  display: inline-block;
}
.icon-no-response-playbutton:before { content: '\e800'; } /* '' */
.icon-tags:before { content: '\e845'; } /* '' */
.icon-volume-up:before { content: '\e846'; } /* '' */
.icon-toggle-open:before { 
  content: '\e83a';
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
 } /* '' */
.icon-toggle-closed:before { content: '\e83a'; } /* '' */
.icon-spin6:before { content: '\e832'; } /* '' */

.icon-0-stars {
  background-image: url('0stars.svg');
  display: inline-block;
}
.icon-1-stars {
  background-image: url('1stars.svg');
  display: inline-block;
}
.icon-2-stars {
  background-image: url('2stars.svg');
  display: inline-block;
}
.icon-3-stars {
  background-image: url('3stars.svg');
  display: inline-block;
}
.icon-4-stars {
  background-image: url('4stars.svg');
  display: inline-block;
}
.icon-5-stars {
  background-image: url('5stars.svg');
  display: inline-block;
}
.icon-toggle-off:before { content: '\e847'; } /* '' */
.icon-toggle-on:before { content: '\e848'; } /* '' */

.icon-mp3-audio:before { content: '\e856'; } /* '' */
.icon-aac-audio {
  background-image: url('aac-audio.jpg');
  display: inline-block;
}
.icon-flac-audio {
  background-image: url('flac-audio.svg');
  display: inline-block;
}
.icon-wma-audio:before { content: '\e857'; } /* '' */
.icon-ogg-audio {
  background-image: url('ogg-audio.svg');
  display: inline-block;
}
.icon-explicit:before { content: '\e855'; } /* '' */
.icon-rss:before { content: '\e840'; } /* '' */
.icon-tick:before { content: '\e84f'; } /* '' */
img.notexist,img.notfound
{
    content: url('compact-disc.svg');
}
.icon-bbc-logo:before { content: '\e853'; } /* '' */
.icon-imdb-logo {
  background-image: url('imdb-logo.svg');
  display: inline-block;
}
.icon-facebook-logo:before { content: '\e839'; } /* '' */
.icon-twitter-logo:before { content: '\e850'; } /* '' */

/* Unused so far */
.icon-lastfm:before { content: '\e806'; } /* '' */
.icon-lastfm-squared:before { content: '\e807'; } /* '' */
.icon-signal:before { content: '\e80b'; } /* '' */
.icon-cog:before { content: '\e80e'; } /* '' */
.icon-sliders:before { content: '\e810'; } /* '' */
.icon-wordpress:before { content: '\e814'; } /* '' */
.icon-wordpress-1:before { content: '\e815'; } /* '' */
.icon-note:before { content: '\e819'; } /* '' */
.icon-clock:before { content: '\e81b'; } /* '' */
.icon-trash-empty:before { content: '\e81d'; } /* '' */
.icon-upload:before { content: '\e820'; } /* '' */
.icon-waves:before { content: '\e821'; } /* '' */
.icon-left-circled-1:before { content: '\e826'; } /* '' */
.icon-right-circled-1:before { content: '\e827'; } /* '' */
.icon-note-beamed:before { content: '\e829'; } /* '' */
.icon-books:before { content: '\e82c'; } /* '' */
.icon-multitrack-audio:before { content: '\e82f'; } /* '' */
.icon-play-1:before { content: '\e83a'; } /* '' */
.icon-pause-1:before { content: '\e83b'; } /* '' */
